/* Color Theme Swatches in Hex */
.Northern-lights-in-the-Canadian-Rockies,-Jasper-1-hex { color: #172026; }
.Northern-lights-in-the-Canadian-Rockies,-Jasper-2-hex { color: #5FCDD9; }
.Northern-lights-in-the-Canadian-Rockies,-Jasper-3-hex { color: #027373; }
.Northern-lights-in-the-Canadian-Rockies,-Jasper-4-hex { color: #04BFAD; }
.Northern-lights-in-the-Canadian-Rockies,-Jasper-5-hex { color: #04BF9D; }